    <%- include('./header1') -%>

    <div class="container py-4">
        <% if (messages.success) { %>
            <div class="container my-3" style="border-radius: 20px;">
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert">
                    <p class="fw-bold m-0"><strong>Message.!</strong> <%= messages.success %></p>
                    <button type="button" class="close btn btn-outline-danger" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        <% } else if (messages.error) { %>
            <div class="container my-3" style="border-radius: 20px;">
                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert">
                    <p class="fw-bold m-0"><strong>Message.!</strong> <%= messages.error %></p>
                    <button type="button" class="close btn btn-outline-danger" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        <% } %> 
    
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h3 class="fw-bold mb-0">User Orders</h3>
                    </div>
            
                    <div class="card-body">
                        <% if (orderlist && orderlist.length > 0) { %>
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <% orderlist.forEach((order, idx) => { %>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"><%= order.address.name %></h5>
                                                <p class="card-text">Order ID:<%= order.customOrderId %></p>
                                                <p class="card-text">Date: <%= new Date(order.orderDate).toLocaleDateString() %></p>
                                                <p class="card-text">Payment Method: <%= order.paymentMethod %></p>
                                                <p class="card-text">Total (Rs): ₹<%= order.totalAmount %></p>
                                                <p class="card-text">Order Status: <%= order.status %></p>
                                                <p class="card-text">Payment Status: <% if (order.paymentStatus === 'Payment Failed') { %>
                                                 <span class="text-danger fw-bold"><%= order.paymentStatus %></span>
                                                 <% } else { %>
                                                    <%= order.paymentStatus %>
                                                <% } %></p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <a href="/userorderdetails/<%= order._id %>" class="btn btn-success">View</a>
                                                    <% if (order.paymentStatus === 'Payment Failed') { %>
                                                        <button id="rzp-button1" data-order-id="<%= order._id %>" class="btn btn-outline-danger">Retry payment</button>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                            
                        <% } else { %>
                            <p class="text-center">No Order Found</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    jQuery(document).ready(function($) {
        document.getElementById('rzp-button1').onclick = function() {

            const orderId = this.getAttribute('data-order-id')
            console.log(orderId);
            fetch('/repay', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    orderId: orderId
                })
            })
            .then(response => response.json())
            .then(data => {
                var options = {
                    key: 'rzp_test_CMXKo79M6lqVba',
                    amount: data.order.amount, 
                    currency: data.currency,
                    name: 'Al Athiqa',
                    description: 'Test Payment',
                    order_id: data.order_id,
                    handler: function(response) {
                        verifyPayment(response, orderId);
                    },
                    prefill: {
                        name: data.user.name,
                        email: data.user.email
                    },
                    theme: {
                        color: '#3399cc'
                    }
                };
    
                var rzp = new Razorpay(options);
                rzp.on('payment.failed', function (response){
                    window.alert("Payment Again Failed")
                    window.location.reload()
                });
                rzp.open();
            })
            .catch(error => console.error('Error:', error));
        };
    
        function verifyPayment(payment, orderId) {
            $.ajax({
                url: '/verify_Payment',
                data: {
                    payment,
                },
                method: 'post',
                success: (response) => {
                    if (response.success) {
                        payment_success(orderId);
                        console.log('response got')
                    } else {
                        console.log('response not get');
                        location.href = ''
                    }
                },
            })
        }
    
        function payment_success(orderId) {
            console.log("payment success", orderId);
    
            $.ajax({
                url: '/repay_success',
                method: 'POST',
                data: {
                    orderId: orderId,
                },
                success: function (response) {
                    location.reload()
                    console.log(response);
                }
            });
        }
    });
        
      </script>
    
    
    
    <%- include('./foot') %>


